[2018-11-27 15:47] chnt opened #1 "Suggestion: Make PiaSDK.start overload that takes a Fragment"
`PiaSDK.getInstance().start(activity, bundle, paymentHandler)`

Launching the SDK from a Fragment, will cause the resulting call to
`onActivityResult(requestCode: Int, resultCode: Int, data: Intent)`
to be sent to it's parent activity.

If you make an overloaded one that takes a Fragment instead of an Activity, the result could be delivered directly to the Fragment.

[2018-12-03 12:18] Miss-PiA commented on #1
Hi @chnt.

Sorry for the late reply!

Thanks a lot for your valuable suggestion! We will take in and implement in the later release and will keep you posted.

-Miss PiA

[2019-01-07 08:51] Miss-PiA commented on #1
Hello @chnt ,

We have released a new version `v1.1.0` with the enhancement you suggested, along with other new features and improvements.

-Miss PiA

[2019-01-25 10:59] chhetrirahul opened #2 "Suggestion: Allow user to hide/deactivate save card switch widget"
We have a case where we don't want the user to be able to save his/her card. It would be great if there was a configuration for this.

[2019-01-25 13:09] #1 closed

[2019-01-25 15:45] BuildManager-Nets commented on #2
Hi @chhetrirahul ,

Thanks for suggestion.
This functionality is included in latest release. Please follow the latest release.

Regards,
-Miss PiA

[2019-02-11 08:28] #2 closed

[2019-07-31 06:44] Vasant-Patel opened #3 "FAQ mention about GooglePay"
Is googlepay supported? or will be supported?

[2019-08-29 07:39] Tim-Badin commented on #3
Hi @Vasant-Patel
Google Pay is not currently supported.
We don't exclude to support, if more issuing banks join and it can become a conversion booster.
It is not  planned in 2019.

[2019-08-29 07:39] #3 closed

[2019-10-31 09:46] arberg opened #4 "Sample (master 1.4.0.) does not compile"
It has duplicate MainActivity, and one seems to be a duplication bug. I removed the MainActivity in activity package and then it compiled.

[2019-10-31 09:59] Miss-PiA commented on #4
Hello @arberg , did you encounter this issue in our sample app or while integrating in your application ?

[2019-11-01 06:15] romab1998 commented on #4
@Miss-PiA in sample app
![image](https://user-images.githubusercontent.com/17005381/68005916-b8f80000-fc98-11e9-81a2-41d6f6110700.png)

[2019-11-01 08:12] Miss-PiA commented on #4
Hello @romab1998 ,

Appreciate you for bringing to our notice, we will fix it in the coming release.

Thank you

[2019-11-01 08:20] #4 closed

[2020-01-27 09:53] mortenholmgaard opened #5 "Sample project - get payment methods fail with 404"
I try to use the Sample app but I just keeps getting 404 from the getPaymentMethods.
https://test.epayment.nets.eu/v2/payment/methods?consumerId=666565 (random numbers tried)
It seems like it has been changed or I might need a specific consumerId?
I can't find any thing about customer id in the admin settings.

[2020-01-27 10:05] Miss-PiA commented on #5
Hello @mortenholmgaard ,
Thank you for reaching out to us. Can you please let us know if you are checking in the prod or the test environment ?

[2020-01-27 10:10] mortenholmgaard opened #6 "Purpose of the SDK?"
What is the purpose of this SDK compared to iOS?
It seems like you should implement most of it youself anyway.

For example this code - Why do we have to implement PaymentFlowCache, PaymentRegisterRequest, PaymentRegisterResponse and MerchantRestClient? This seems to be basic code that should be in the SDK, and not be our responsibility to maintain when every some fields change!

[code]

[2020-01-27 11:59] mortenholmgaard commented on #5
I am using the test url as you can see and the test switch in the app settings. Also the payment module is in netaxepts test envirnment.
What I wonder though is also that you do not send the merchantid as an argument to this method in any way, so it seem like it is a public/generelt method.

[2020-01-27 12:00] Miss-PiA commented on #6
Hello @mortenholmgaard ,

Appreciate you reaching out to us.

The code that you have mentioned is used to display the various payment methods list. It is upto the merchant/integrator as to how to display the list and what data to display in the list. What we have given is just a sample of how it can be implemented. We are open to suggestions, maybe you can suggest a way which maybe more efficient.

[2020-01-27 12:31] Miss-PiA commented on #5
Hello @mortenholmgaard ,

Not sure how you got the URL that you shared from sample app for getPaymentMethods, since https://api-gateway-pp.nets.eu/pia/test/merchantdemo/v2/payment/methods?consumerId=666565 should be it.

[2020-01-27 12:54] mortenholmgaard commented on #5
Well I never got any information about what the url should be - so I just had to look around and found it here:
https://shop.nets.eu/web/partners/restt
Now it works

[2020-01-27 12:54] #5 closed

[2020-01-27 13:06] mortenholmgaard commented on #6
I just don't get why we should implement the api to this endpoint and others. Why is there not a Service in the SDK to call where all the fields are mapped and wrapped? As I see it there is only a little client specific in the PaymentFlowCache else the rest is in the arguments parsed to the requests.
https://shop.nets.eu/web/partners/register

[2020-01-28 08:08] Miss-PiA commented on #6
Hi Morthen,

The sample app is just a reference app to show you how to integrate our SDK. The Restful contract between sample app and sample merchant backend is implemented for demo and reference purpose. You need to implement your own contract to communicate with your backend to trigger each API requests to Netaxept from your backend and our SDK is used to handle the interaction of Card sensitive

[2020-01-28 14:37] #6 closed

[2020-01-30 09:49] mortenholmgaard opened #7 "Easy payment - cards just seems expired in PIA view"
When I start a easy payment with a previously saved card it just states that is is expired in the PIA payment UI.
I have saved test cards from her: https://shop.nets.eu/web/partners/test-cards
I have tried both with the first visa card as expressed below but also with the dankort - both same problem.
One think I noticed is that the Visa image in the UI showing expired also shows a masked cardnumbe

[2020-01-31 12:04] Miss-PiA commented on #7
Hi @mortenholmgaard ,

Thank you for reaching out to us.
Regarding your concern for the expired card, the expiry format that you have used may be incorrect. The correct format is "MM/YY".

1) How to know if the user click the abort button?
-> You will get a RESULT_CANCELED in your Activity method "onActivityResult" by which you will know that the transaction is cancelled using the abort button

2)

[2020-02-10 08:39] mortenholmgaard commented on #7
@Miss-PiA
One think I forgot getting a answer for is this:
"I noticed is that the Visa image in the UI shows a masked cardnumber but it is not the cardnummer that is masked - it is the panHashs last 4 digits that is shown!"
Is this not an error in the SDK?

[2020-02-11 07:44] Miss-PiA commented on #7
Hello @mortenholmgaard ,

The number displayed is the masked card number itself. You can try in our the sample app and using the test cards given in the link https://shop.nets.eu/web/partners/test-cards to check the same.

Thank you

[2020-02-11 08:02] mortenholmgaard commented on #7
@Miss-PiA That is not what I see.
When I save VISA 4925000000000004 and try to pay with that I get this:
![payment](https://user-images.githubusercontent.com/1279671/74219342-e0edfb00-4cac-11ea-986e-f272bb1437a1.jpg)
I expected to see XXX XXXX XXXX 0004 and not XXXX XXXX XXXX TDy=

[2020-02-11 08:17] Miss-PiA commented on #7
Hello @mortenholmgaard ,

From the image you shared it seems that you are not passing the tokenId (the card number) to the SDK.
![Screenshot1](https://user-images.githubusercontent.com/45562049/74220226-accc0780-4cb7-11ea-8bfe-0ab0f11ac82e.png)
![Screenshot2](https://user-images.githubusercontent.com/45562049/74220228-ae95cb00-4cb7-11ea-9cab-236db70e0d23.png)

[2020-02-11 10:50] mortenholmgaard commented on #7
@Miss-PiA Okay yes that was it

[2020-02-11 11:55] Miss-PiA commented on #7
@mortenholmgaard  thank you for confirming that it works now.

[2020-02-18 09:26] mortenholmgaard commented on #7
@Miss-PiA I will add a few further questions here:
- How to disable the "Scan payment card" option? The UX about introducing the permission alert without any info to the user about reasons for that is really bad, so we would like to disable it. How to do that? (on both Android and iOS)
- How do you select if the payment saved card with a tokenCardInfo, should require user confirmation or not on An

[2020-02-19 11:29] Miss-PiA commented on #7
Hello @mortenholmgaard

1) If you have gone through the SampleApp you will get the "Disable card scanner" in the settings screen. The UX for the permission is the default that the Android SDK provides.

2) For the skip confirmation, if you check the sample app implementation you will find the isSkipConfirmationSelected and setSkipConfirmationSelected methods in the PiaInterfaceConfiguration to be

[2020-02-20 07:27] mortenholmgaard commented on #7
Thanks. The reason I could not find the isSkipConfirmationSelected was the it was first added in version 1.6.0.

When I refer the the UX about the permission, it was not the dialog it self, missing user info to what it should be used. You should really add an other dialog before it telling why you should giv this permission - the user will not know that it is because they have the option to skip t

[2020-02-20 08:24] Miss-PiA commented on #7
The "Skip confirmation" was added in both platforms (Android and iOS) at the same time.

Regarding the UX part, thank you for your suggestions. We can't commit about the implementation right away since we are on some high priority task that we intent to finish first. But we will inform you once we have implemented it.

Thank you

[2020-02-21 15:28] Tim-Badin commented on #7
Hi @mortenholmgaard
We have discussed your UX comments regarding the card scanner with the team today.

We think they are all relevant and would like to share our position:
**- Permission for using the camera:**
- Here we suggest that showing a customised message like "you will be asked to allow this app to use the camera for scanning your card" is not handled by the SDK but instead by the app. Th

[2020-02-24 06:50] #7 closed

[2020-03-13 12:37] henningms opened #8 "Skip confirmation without UI like on iOS"
Hi there,

It seems in the iOS SDK there's the option to skip all of the UI unless authentication / 3D Secure is required using the this snippet:

[code]

We seem to be unable to achieve the same thing on Android due to the fact that we need to launch the PiaActivity even though Skip Confirmation should be the default when doing Easy/Recurring payment. On Android it also seems that we're required

[2020-03-13 14:14] Miss-PiA commented on #8
Hello @henningms

We could have components in Android which are similar to iOS and vice versa, but currently we are working on some priority task and might take your request in future. Until then please keep using our SDK for more feature to come and let us know if you face any issues.

Thank you

[2020-03-20 09:17] henningms opened #9 "Xamarin: Make it easier to use"
Hi there,

On iOS we only need to add the one NuGet package and we're good to go. Could you update the Android NuGet package to include all the dependencies needed for the library to work? It seems weird to have to manually add other NuGet packages that are dependencies, and then having to add one .DLL reference as well (RetrofitScalarBindings) which aren't in NuGet.

Also, could you make the bind

[2020-05-04 11:43] anujvats111 opened #11 "Not able to call sdk method"
Hello guys.
I want to implement your sdk in my running app i have merchant account but after adding dependency i am not able to call sdk method for my plan. can you please help me out?

Thanks
Anuj

[2020-05-05 06:15] Miss-PiA commented on #11
Hello Anuj,

Thank you for reaching out to us.
If you could you please help in sharing some information to understand the issue.
For which platform are you using the SDK (Native or Hybrid)? Can you share the dependency code you are using ? Which method or the SDK are you trying to call?

Thank you

[2020-05-05 06:19] #8 closed

[2020-05-05 19:22] anujvats111 commented on #11
Native android app
Dependency - implementation('eu.nets.pia:pia-sdk:1.6.0') { transitive = true;
changing=true; }

And can you please tell me what method i have to use? for payment like i
have plan eg  $10 or $20 what mehtod i need to call on buttons click can
you please explain ? because i am able to do that

Thanks

On Tue, May 5, 2020 at 11:45 AM Miss-PiA <notifications@github.com> wrote:

--
T

[2020-05-06 11:00] Miss-PiA commented on #11
Hello Anuj,

What type of payment mode are you trying to do?

We support the following payment modes and the method to call them.

1) Card payment
PiaSDK.getInstance().start()

2)Paypal process
PiaSDK.getInstance().startPayPalProcess()

3)Vipps wallet payment
PiaSDK.getInstance().startVippsProcess

4) Swish wallet payment
 PiaSDK.getInstance().startSwishProcess()

5)Save card and pay via saved car

[2020-05-10 08:47] anujvats111 commented on #11
I am using PiaSDK.getInstance().start()

Is it possible you can provide me an simple demo?
or connect with your developer team ?

Thanks
Anuj Sharma

On Wed, May 6, 2020 at 4:30 PM Miss-PiA <notifications@github.com> wrote:

--
Thanks & Regards
Anuj Sharma

[2020-05-11 06:09] Miss-PiA commented on #11
Hello Anuj,

You can checkout the integration that we have done in our sample app (PiaSample) in GitHub and the link to it is as follows:-
https://github.com/Nets-mobile-acceptance/Netaxept-Android-SDK/tree/master/PiaSample

This could give you a basic idea of the flow of integration for payment flow that you required.

Also we have released our latest SDK version 1.7.0, so we recommend using it f

[2020-05-11 06:35] Miss-PiA commented on #9
Hello @henningms ,

Regarding RetrofitScalarBindings, we will try to make it more user friendly for the integrator.

Since we use release SDK for making a dll to be used in Xamarin the method parameters appear as you mentioned.

Thank you.

[2020-05-11 06:35] #9 closed

[2020-05-27 13:56] Miss-PiA commented on #11
Closing the issue since the register call was successfully implemented.

[2020-05-27 13:56] #11 closed

[2020-06-25 21:05] Hussein-ipc opened #12 "Sample backend PHP for this project"
Hi
How can I run this project with PHP sever?
I need a sample PHP for this project?

[2020-06-26 07:13] Miss-PiA commented on #12
Hello,

Thank you for reaching out to us.

Need some clarification from you side. Do you want a sample backend project in PHP or something on the Android application side ?

Best regards

[2020-06-26 07:20] Hussein-ipc commented on #12
Hello
I need a sample backend php that work with projekt netaxept for android /
IOS in Github . Now there is a sample backend Java for there. But I Can not
work with Java backend. This is Link for Netaxept for android and IOS . I
need a sample backend php.
https://github.com/Nets-mobile-acceptance/Netaxept-Android-SDK
Thanks

fre 26 juni 2020 kl. 09:13 skrev Miss-PiA <notifications@github.com>:

[2020-06-26 08:49] Miss-PiA commented on #12
Hello @Hussein-ipc ,

Thank you for clarification.

What we have in our repository is a sample project as a code reference to our implementation document for integrator. The integrator's implementation can vary as per their environment. Since it is difficult to take into account all the variations, we have uploaded a sample on platform that we make use of, Java. But we will be happy to assist you

[2020-06-26 08:53] Hussein-ipc commented on #12
Thanks for your answer
Can you help me with integration?
How Can I integrate Netaxept for android with php server?

fre 26 juni 2020 kl. 10:49 skrev Miss-PiA <notifications@github.com>:

[2020-06-26 09:22] Hussein-ipc commented on #12
Can you Explain a lite bit?
How Can I integrate with PHP server. How Can I find SDK php ?

fre 26 juni 2020 kl. 10:53 skrev Hussein Barbari <husseinbarbari99@gmail.com

[2020-06-26 10:35] Miss-PiA commented on #12
Hello @Hussein-ipc ,

For the communication between Android and backend RESTFULL services are used. So you could do the backend and server side code in PHP and also consume RESTFULL services to be used in communication with any mobile platform.

Best regards

[2020-06-26 12:50] BuildManager-Nets commented on #12
Hi @Hussein-ipc,

In addition, you can check the specification here https://shop.nets.eu/web/partners/appi to decide which is preferable way for your PHP server to integrate Netaxept via either REST or Web Services API. Netaxept also provides corresponding sample code. For example, there is a sample for PHP Website using Web Services (PHP 5)  https://shop.nets.eu/documents/535922/545797/php.zip/56

[2020-06-26 13:22] Miss-PiA commented on #12
Hi @Hussein-ipc,

In addition, you can check the specification here https://shop.nets.eu/web/partners/appi to decide which is preferable way for your PHP server to integrate Netaxept via either REST or Web Services API. Netaxept also provides corresponding sample codes, for example, there is a sample for PHP Website using Web Services (PHP 5) here https://shop.nets.eu/documents/535922/545797/php.z

[2020-06-30 07:48] igor-bv opened #13 "React Native sample error handling"
@Miss-PiA, hi! Could you please explain/clarify error handling case on register api request error(on android example at least).
As far as I see error handler will call `buildTransactionInfo` with `null` values as arguments.
https://github.com/Nets-mobile-acceptance/Netaxept-Android-SDK/blob/d01e89b5a5dc638d35eecb072e806f740c97d886/ReactNative/PiaSampleReactNative/App.js#L117

But as far as `getTra

[2020-07-01 03:09] BuildManager-Nets commented on #13
Hello,

Thank you for reaching out to us.

https://github.com/Nets-mobile-acceptance/Netaxept-Android-SDK/blob/d01e89b5a5dc638d35eecb072e806f740c97d886/ReactNative/PiaSampleReactNative/android/app/src/main/java/com/piasample/SDKModule.java#L444
Yes you are absolutely right about the current implementation, the loop gets into a never ending state, we will look into the issue and do the required cha

[2020-07-01 07:09] Miss-PiA commented on #13
Hello,

Thank you for reaching out to us.

https://github.com/Nets-mobile-acceptance/Netaxept-Android-SDK/blob/d01e89b5a5dc638d35eecb072e806f740c97d886/ReactNative/PiaSampleReactNative/android/app/src/main/java/com/piasample/SDKModule.java#L444
Yes you are absolutely right about the above code in the current implementation, the loop gets into a never ending state, we will look into the issue and d

[2020-07-01 07:17] igor-bv commented on #13
Hi, thanks for the feedback. I'll add some logic as you suggested.

[2020-08-18 09:33] JeppeLeth opened #15 "Add autofillHints to manual card entry"
Add `autofillHints` attributes to the manual card entry screen layout `pia_fragment_manual_entry.xml` in the PIA SDK
This will make it faster and more user friendly to fill all the fields on newer Android versions.

You can add 3 lines of XML to make this work:

- For field `@+id/card_number_et` add attribute `android:autofillHints="creditCardNumber"`
- For field `@+id/expiry_date_et` add attribut

[2020-08-19 08:33] #12 closed

[2020-08-19 08:38] Miss-PiA commented on #15
Hello @JeppeLeth

Thank you for your suggestion. We will try to use and test it, and if all goes well maybe we will add it in our future release.

Best Regards

[2020-08-19 09:29] martintoften opened #16 "Update to AndroidX"
Is it possible for you to replace `android.support` classes with their equivalent `androidx` versions in the PIA SDK?

[2020-08-19 12:44] Miss-PiA commented on #16
Hello @martintoften

We are still working on incorporating AndroidX in our SDK and might release it in near future. We will let you know when the new release with AndroidX is out.

Best regards

[2020-08-19 13:20] #13 closed

[2020-08-24 12:33] Miss-PiA commented on #16
Hello @NielsLindberg ,

As mentioned in the thread previously, we are still working on incorporating AndroidX in our SDK. Although we can't give an exact date of delivery but we will update you on the same.

Best regards

[2020-08-26 09:40] Miss-PiA commented on #16
Closing this issue conveying that the suggestion is taken into consideration and work is in progress.

Best regards

[2020-08-26 09:40] #16 closed

[2020-08-26 09:41] Miss-PiA commented on #15
Closing this issue conveying that the suggestion is taken into consideration and work is in progress.

Best regards

[2020-08-26 09:41] #15 closed

[2020-11-03 14:30] sbo-nemlig opened #18 "Missing UI Customization values"
After updating to the news version of the SDK we can see that below values are missing in the SDK.
They are still in your documentation and we use them in our integration
- tokenCardCVCLayoutBackgroundColor
- toolbarActionButtonTextColor
- toolbarBackgroundColor
- toolbarTitleColor
- buttonBackgroundColor
- bodyBackgroundColor
- validFieldBorderColor
- errorFieldBorderColor
- inputTextHintColor
-

[2020-11-04 07:44] Miss-PiA commented on #18
Hello @sbo-nemlig

Since version 2.0.0 all color attributes are set via PiaSDKTheme. You can check the implementation in sample as
https://github.com/Nets-mobile-acceptance/Netaxept-Android-SDK/blob/c3cca57c227cbf77f4fb469e04f24f7e1f4a53e7/PiaSample/app/src/main/java/eu/nets/pia/sample/ui/activity/UICustomizationActivity.java#L86

You can also refer the implementation guide in the documentation un

[2020-11-04 07:52] sbo-nemlig commented on #18
Thx for the quick reply :)

[2020-11-04 07:52] #18 closed

[2020-12-02 12:42] arberg opened #19 "Dependency conflict prevents usage of this library if app has newer kotlin-serialization"
We use
`implementation("org.jetbrains.kotlinx:kotlinx-serialization-json:1.0.1")`
and Kotlin 1.4.20

I suspect this library use this old beta-version of the library of version 0.20.0.

This old library is not compatible with kotlin 1.4.10 and newer, and prevents compilation.

I get the following error:

[code]

Will you update your library to the most recent kotlin and kotlinx-serialization versio

[2020-12-02 13:37] arberg commented on #19
It seems I can use v1.7.0 for now.

[2020-12-03 07:35] Miss-PiA commented on #19
Hey!

Great to hear that the issue was solved. If you have any other issues feel free to get in touch at any time!

- Miss PiA

[2020-12-03 08:15] arberg commented on #19
Hi, This issue isn't solved. It is not a viable solution to leave all your customers who use kotlin stuck on NetAxept version 1.7.0. I just wrote it to let you know that I at least can get started.

[2020-12-07 10:24] Miss-PiA commented on #19
Hi @arberg,

It maybe misunderstand what you shared from previous answer and we assumed the newer version solved your problem. We will reopen this issue and investigate this issue to be able to get back to you soon!

[2021-01-27 09:40] Vasant-Patel opened #20 "No access to release notes"
At the moment there seems to be no releases notes provided which makes it difficult to access if we need to update the SDK version or not?

[2021-01-27 09:47] Miss-PiA commented on #20
Hello @Vasant-Patel

If you go inside documentation folder, you will find the file "START - Overview of Netaxept Android SDK" which has the "Change logs". The release notes are mentioned in them.

Please let us know if you face any other issue.

Best Regards

[2021-01-27 09:53] Vasant-Patel commented on #20
Ok but it would still help to have access to release notes for current version without downloading the sdk documentation. When viewing the file on github it renders it as raw so it unreadable.

[2021-01-27 09:57] BuildManager-Nets commented on #20
Hello @Vasant-Patel

We have received this issue and we are working towards making it readable even without downloading. We will let you know when we have released the same.

Best regards

[2021-01-27 10:23] #20 closed

[2021-02-01 13:55] NielsLindberg commented on #19
Will also stay on 1.7.0 until this is fixed.

[2021-02-04 16:55] zoltan-vari opened #21 "Sample app does not compile"
I tried running the native sample application (PiaSample) but I get a number of compiler errors because the compiler cannot find several types:

[code]
and
[code]

Checked the documentation and it references the same types and if I try to use the library in my own project I get the same errors (I followed the instructions step by step). We have been using this library in our production apps for a

[2021-02-17 19:14] ngoclt commented on #21
I am facing the same problem here. It seems some of the classes are not public. @Miss-PiA  Could you please help us to check this issue.

[2021-02-19 08:41] Miss-PiA commented on #21
Hello @zoltan-vari & @ngoclt

The PiA SDK version 2.1.1 with the fix is available on Maven. You can use it for implementation and let us know if you still face any issue.

Best regards

[2021-02-21 19:54] ngoclt commented on #21
@Miss-PiA thank you very much, I will give it a try soon :)

[2021-02-23 08:50] Miss-PiA commented on #21
Hello @ngoclt & @zoltan-vari

A new version v2.1.2 of PiA SDK has been released. Would recommend you to use the latest SDK version which includes fixes to compiler issue allowing for full automated installation.
Feel free to reach out to us if you face any issue.

Best regards

[2021-02-23 08:50] #21 closed

[2021-02-23 08:52] Miss-PiA commented on #19
Hello @arberg & @NielsLindberg

A new version v2.1.2 of PiA SDK has been released. Would recommend you to use the latest SDK version which includes fixes to compiler issue allowing for full automated installation.
Feel free to reach out to us if you face any issue.

Best regards

[2021-03-01 16:11] arberg commented on #19
It doesn't work, I get

[code]

If you want us to use the the newer version, I need you to deliver a version which does not tie us into a specific version, and which matches the version of your library. So I see three options for you.

1) Get rid of kotlinx serialization.
2) Find a way to use kotlin serialization so we can compile with a different version
3) deliver multiple versions of your libra

[2021-03-02 11:03] NielsLindberg commented on #19
Normally its possible to have differing versions, gradle should chose the higher version during dependency resolution. The problem is probably that they changed the naming from runtime -> core, so gradle doesnt recognize it as being the same library.

Nets needs to update their depedency on kotlinx following the setup here: https://github.com/Kotlin/kotlinx.serialization#setup.

[2021-03-03 08:46] Miss-PiA commented on #19
Hello Arberg  & NielsLindberg,

Thanks a lot for your reporting and all relevant suggestions. Our dev team will look into this issue and get back to you once we find a good approach to hamorize the dependencies.

[2021-03-03 13:54] arberg commented on #19
Interesting point, Niels.

I think its also worth noting that the kotlin serialization is a very young project, and had a significant change from 0.2 to 1.0 API. Its possible that they may release a future 1.X.0 version that might fail if executed on code built around 1.0.1.

Should that happen, then the netaxep SDK will break, when the client (ie. me and Niels) includes a newer version of the ser

[2021-03-04 12:44] ngoclt opened #22 "registerForActivityResult compiler error in Kotlin"
Hi,

I'm developing an Android app in Kotlin, and when I'm trying to `registerForActivityResult` for `CardProcessActivityResultContract` the compiler shows this error:

![Screenshot 2021-03-04 at 14 38 51](https://user-images.githubusercontent.com/1129823/109965598-d6f3cb80-7cf7-11eb-8a28-80e5872214a1.png)

My workaround solution is that writing the card registration in JAVA and import the code to

[2021-03-09 18:01] ngoclt opened #23 "SDK 2.1.3 stuck at card selection in webview"
Hi,

I'm using Nets sdk version 2.1.3 for our Android application now. We managed to do the payment registration from the backend side and return the transaction id to the app. But when app starts the card registration flow, the sdk does show webview with card type selection as in the screenshot. But when I select the Next button, nothing happens. From the Logs I can see this exception:

[code]

!

[2021-03-10 07:11] Miss-PiA commented on #23
Hello @ngoclt,

Could you please check if you specify the serviceType to "M" when you do the payment registeration call? You can find more tips to construct the Netaxept from the backend via the link https://htmlpreview.github.io/?https://github.com/Nets-mobile-acceptance/Netaxept-Android-SDK/blob/master/documentation/START%20-%20Overview%20of%20Netaxept%20Android%20SDK.html#Backend_Tips. Let's kn

[2021-03-10 07:33] ngoclt commented on #23
@Miss-PiA  Thank you for your quick response. Yeah, we set the serviceType to B at the beginning, and it shows that webpage with the issue above.

But now, when we try to set the serviceType to `M`, the sdk doesn't show that webview anymore but return this result for `transactionCompleteResult` callback:

[code]

[2021-03-10 07:46] ngoclt commented on #23
Update

[2021-03-10 07:46] #23 closed

[2021-03-17 10:33] mkovalyk opened #24 "androidx.fragment:fragment:1.3.0-beta01@aar@aar as dependency in Netaxept 2.1.3"
Hi there. I have just updated the library to **2.1.3** and turns out it uses beta version of androidx.fragment library:  **androidx.fragment:fragment:1.3.0-beta01@aar**
Of course, there is a way to exclude it from the dependency, but I wonder if it won't break anything in the library itself.
Do you really need this dependency? Are there any plans not to use *beta* version?

Reason for ticket:  Cra

[2021-03-22 11:04] Waltari10 opened #25 "How to make sure 3D protocol is actually updated to latest"
We recently updated this package on iOS and Android to a version that supports 3D Secure version 2 protocol, since it's required after April 14th.

Now I'm wonder how to make sure the package was actually updated to latest version? I haven't found a way to verify this in the application itself. Payments seem to be going through as usual. Any way to check from package/app what version is actually r

[2021-03-22 11:13] Miss-PiA commented on #24
Hi There,

Thank you for reaching out.

For now, the dependency could be excluded and this will not affect the SDK functionality.

We are looking into the dependencies and will move to the latest stable version in the next release.

Best Regards
SDK Team

[2021-03-22 13:06] LevonVardanyan commented on #22
I have the same issue

[2021-03-23 09:45] Waltari10 opened #26 "Save card and pay buttons render on top of each other on Samsung Galaxy S10"
Save card toggle and pay button seem to stack on top of each other on specific Android model. Haven't been able to reproduce this on any other Android.

Problem phone: Samsung Galaxy S10, Android 10

Nets version: v2.1.3

Picture before bug happens:
<img width="354" alt="Screenshot 2021-03-23 at 11 32 58" src="https://user-images.githubusercontent.com/8919286/112124925-8e7b4f80-8bcb-11eb-8bbd-f8d0

[2021-03-24 10:36] Miss-PiA commented on #19
Thank you for your inputs and this will be resolved in our next release. However in the meantime, we advice you to exculude the transitive dependency of the following serialization dependency used in SDK
implementation("org.jetbrains.kotlinx:kotlinx-serialization-runtime:1.0-M1-1.4.0-rc")

Something as follows
 implementation ('eu.nets.pia:pia-sdk:2.1.3'){
        exclude module: 'kotlinx-serializ

[2021-03-26 09:21] emilfa commented on #22
Also having the same issue, and currently working around it by having a Java helper class for card registration. Would be great with a fix / response

[2021-03-31 08:59] Waltari10 commented on #26
Any news?

[2021-04-05 10:03] mkovalyk opened #28 "Progress stuck on SDK 2.1.3"
When I try to pay with one of the test card, payment sometimes stucks. See video:

https://user-images.githubusercontent.com/3358861/113562555-fd669880-960e-11eb-9bbb-cb94e9316c03.mp4

Id of the view and progress views:
![image](https://user-images.githubusercontent.com/3358861/113562620-18390d00-960f-11eb-9748-fc23d9f2d68f.png)

For 2.0.1 it is not the case. Reproducible on 2.1.3, 2.2.0.

[2021-04-09 08:57] PhanNhatBaoTrung opened #29 "Indicator stuck forever on Flutter Sample App"
Hi, I encountered this problem on Flutter sample app months ago.

Here is how to reproduce:

1. Click 'Pay 10.00 Euro' Button
2. Manually type the card information (You have to make sure the card information is not correct, date expiration is wrong or security code is wrong)
3. Confirm by clicking Pay
4. Click 'Pay 10.00 Euro' again
5. Type card information (Anything would be fine).

https://user-

[2021-04-13 07:46] Miss-PiA commented on #29
Hi PhanNhatBaoTrung,

Thanks for reporting this issue. Due to known issues with Flutter, we have not been able to fix this issue. Unfortunately we cannot provide a solution immediately but we will investigate again later this year.

best regards,
Miss PiA

[2021-04-15 06:59] Waltari10 commented on #26
Can I help somehow? Should I provide some extra information?

[2021-04-15 07:23] BuildManager-Nets commented on #26
Hi Waltari

We have resolved the issue in our l;atest release 2.2.0, you could test the same with our latest version.

Please let us know if this solves your issue.

Regards

[2021-04-16 05:02] Miss-PiA commented on #28
Hello @mkovalyk

Please share with us which test card are you using for transaction, we will try to replicate and debug it at our end.

Best regards.

[2021-04-16 05:38] #26 closed

[2021-04-16 06:10] Miss-PiA commented on #24
Hello @mkovalyk ,

We have resolved this in version 2.2.0. Please check the same and let us know if you face any issue.

Best Regards.

[2021-04-16 06:21] Miss-PiA commented on #25
Hello @Waltari10

You can try to print the below string and check the version number.

`PiaSDK.getInstance().getVersionName()`

Best Regards

[2021-04-19 07:18] #25 closed

[2021-04-19 13:46] mkovalyk commented on #28
The card is - 4925 0000 0000 0079

[2021-04-29 10:46] bopmaz commented on #22
@Miss-PiA Do we have any update on this? Not sure if "eu.nets.pia.ResultContract" class (which cause the compiler error) inherited from Google "ActivityResultContract".

[2021-05-05 09:36] naxx1000 opened #30 "CVC input field is hidden behind the payment card, when doing card token payment"
When i'm doing a card token payment while CVC is required, the input field is hidden behind the payment card. While you can still click through the card and hit the input field, this is not satisfactory. The input field seem to animate correctly, but it is still behind the payment card.

I've tried this on API lvl 28, 29 and 30. I've tried with and without any UI customization to the SDK, with no

[2021-05-10 09:06] naxx1000 commented on #30
After reverting the constraintlayout version from 2.1.0-alpha2 to 2.0.4, the CVC input field is now being correctly shown.
The same problem happens on 2.1.0-beta02.
I'm closing the issue now, but it is worth to check if the SDK works with constraintlayout 2.1.0 when the version is stable.

[2021-05-10 09:06] #30 closed

[2021-06-04 06:35] mkovalyk opened #35 "Crash when trying to pay with MobilePay"
I'm trying to pay using MobilePay, but I've got an exception:
[code]
Looks like the ID is of the view is: app_switch_webview
I initialise mobilePay via:
[code]
This is how I proceed in WalletPaymentRegistration:
[code]

SDK version - 2.3.0

It is not reproducible on SDK 2.0.1

[2021-06-04 09:20] mkovalyk commented on #28
@Miss-PiA Any updates on the issue?

[2021-06-04 09:36] Miss-PiA commented on #28
@mkovalyk

Request you to try our SDK's latest version v2.3.0, we had an issue which has been resolved. If you still face any issue , do let us know.

Best Regards

[2021-06-08 05:53] Miss-PiA commented on #35
Hi @mkovalyk

Hope you are doing good.

Could you please confirm on the following points

If this crash occurs everytime or is there any specific scenario that replicates this issue?
Is this is specific to any device or android version?
Could you please send us the compileSdkVersion of your app and Android device version/ brand if the issue is specific to any

These would make it easy to replicate

[2021-06-08 10:15] mkovalyk commented on #35
@Miss-PiA
1. Yes, the issue is 100% reproducible. Not sure, if it might be related, but I'm working with test app for verification MobilePay at https://developer.mobilepay.dk/products/online/test
2. Occurred at least on API 29 and API 30. According to the stacktrace it doesn't look to be device-specific issue.
3. compileSdkVersion  = 30.
4. No specific devices. Tested on devices:
 -  OnePlus 6, AP

[2021-06-15 11:58] DmytroKataryna opened #36 "Crash when log off from MobilePay acc and try to pay"
`E/AndroidRuntime: FATAL EXCEPTION: DefaultDispatcher-worker-5
    Process: com.myapp.test, PID: 8169
    kotlin.KotlinNullPointerException
        at eu.nets.pia.wallets.Presenter.activity(Unknown Source:56)
        at eu.nets.pia.wallets.PiASDK.initiateMobileWallet(Unknown Source:29)
        at eu.nets.pia.PiaSDK.initiateMobileWallet(Unknown Source:0)
        at com.myapp.base.payment.PaymentMan

[2021-06-15 12:37] #36 closed

[2021-06-15 12:37] DmytroKataryna commented on #36
Was resolved internally

[2021-06-16 11:25] DmytroKataryna opened #37 "On tablet eu.nets.pia.wallets.MobilepayActivity screen is not loading (grey background with spinner)"
On tablet when I am trying to pay by using Mobilepay activity is not loaded at all. I just see the grey background with a spinner, there are no error logs.
If needed I can provide a screenshot, but it is just a blank screen.

[2021-06-17 05:16] Miss-PiA commented on #37
Hello @DmytroKataryna

Thank you for reaching out to us.

Request you to share the Android SDK version of PiA that you are using and also tablet device details like make, mode and Android OS version. Hope you are using our latest SDK version v2.3.0.

Best Regards

[2021-06-22 09:51] DmytroKataryna commented on #37
Android SDK version = 30
Emulator Google Pixel API 30
Emulator Google Pixel C, API 30
PIA sdk version 2.0.1 (can't use 2.3.0 as I am blocked by https://github.com/Nets-mobile-acceptance/Netaxept-Android-SDK/issues/35)

[2021-06-29 12:39] mkovalyk opened #38 "Sample is not updated with latest 2.4.0 SDK"
Sample in latest [master](https://github.com/Nets-mobile-acceptance/Netaxept-Android-SDK/commit/cd13d6c0a7f4b1e84f5efc6ef50736050216e6c1) branch is not updated and uses Deprecated classes (TokenCard, TransactionInfo, MerchantInfo). Please update using proper replacement for Deprecated classes. Thanks!

[2021-06-29 12:52] mkovalyk opened #39 "Inconsistencies between documentation and SDK 2.4.0"
During integration I found some inconsistencies between [Documentation](https://htmlpreview.github.io/?https://github.com/Nets-mobile-acceptance/Netaxept-Android-SDK/blob/master/documentation/START%20-%20Overview%20of%20Netaxept%20Android%20SDK.html#Installation) and SDK 2.4.0 itself:
It is said that method is called - **PiaSDK.startTokenizedCardPayment()**, but there is only **PiaSDK.startCardPro

[2021-06-30 07:03] Miss-PiA commented on #39
Hi Mykhailo,

Thank you for pointing it out.

The latest SDK has PiaSDK.startCardProcessActivity(..) and the other has been removed, we will be updating our docs very soon.

Please ask for if you come accross any queries during integration

Best Regards
Kunal Shetti

[2021-06-30 07:52] Miss-PiA commented on #38
Thank You for pointing out.

We have this in our scope and will be doing the updates in coming releases.

Best Regards
Kunal Shetti

[2021-06-30 07:53] Miss-PiA commented on #38
Thank You for pointing it out.

We have this in our scope and will be having these changes in coming releases.

Best Regards

[2021-07-13 16:00] Miss-PiA commented on #39
Hello @mkovalyk ,

The documentation has been updated with the latest API, you can refer to it.

Best regards

[2021-07-13 16:00] #39 closed

[2021-07-23 08:18] Waltari10 opened #40 "Setting pay button rounded corners"
In documentation there is this example to set rounded corners:
[code]

I have this as my custom_rounded_button.xml in drawable folder.

[code]

However just setting it to "1dp" causes the corners to be completely rounded. Actually even just <Shape> rounds it completely:

[code]

What should the custom_rounded_button look like? I would like to adjust the corner radius more gradually.

[2021-07-23 09:54] Miss-PiA commented on #40
Hi @Waltari10

Thank you for raising this up, we will work on the documentation part that needs an update.

Meantime for setting the rounded corner of buttons, you could send an integer value as a radius instead of the shape drawable. SDK internally uses the integer value for creating a dynamic ShapeDrawable and apply it on the button.

Please let us know if you face any difficulties during the in

[2021-07-26 09:04] Waltari10 commented on #40
Yup, integer value seems to work fine.

`PiaInterfaceConfiguration.getInstance().setButtonRoundCorner(50);`

[2021-07-26 09:42] Waltari10 commented on #40
It would still be nice to know the buttons height. We would like the corner radius to always be half of the buttons height, so that it is fully rounded. Similar to iOS buttonCornerRadius 0.5 value. Bit annoying that it works differently on iOS and Android since we want them to look the same, and would like to make a React-Native abstraction.

[2021-08-06 17:01] JBBx2016 opened #41 "Android 12 manifest incompatible"
PiaSDK mangler android:exported på <activity>, og prosjekter kan derfor ikke bygges med targetSdkVersion 31.

 android:exported needs to be explicitly specified for <activity>. Apps targeting Android 12 and higher are required to specify an explicit value for `android:exported` when the corresponding component has an intent filter defined.``

[2021-08-12 07:38] Miss-PiA commented on #41
Hello @JBBx2016 ,

Unfortunately, we are not supporting Android 12 at the moment. We will look into this issue and get back to you once we could confirm Android 12 support in the later release.

[2021-08-12 07:41] #38 closed

[2021-08-12 07:43] Miss-PiA commented on #37
Hello @DmytroKataryna ,

Could you please confirm if this issue is still reproducible in our latest version 2.4.0 or not?

[2021-08-12 07:43] Miss-PiA commented on #35
Hello @DmytroKataryna ,

Could you please confirm if this issue is still reproducible in our latest version 2.4.0 or not?

[2021-08-12 07:46] Miss-PiA commented on #28
@mkovalyk could you please comment on this issue if it is fixed or not so that we could close this ticket?

[2021-08-12 07:47] #24 closed

[2021-08-12 15:35] mkovalyk commented on #28
As of 2.4.0 the issue was solved. I haven't encountered any freeze in this version

[2021-08-12 15:35] #28 closed

[2021-08-12 15:36] mkovalyk commented on #37
@Miss-PiA I can confirm that the issue wasn't solved as of 2.4.0. Still reproducible..

[2021-08-12 15:37] mkovalyk commented on #35
The issue is fixed as of 2.4.0

[2021-08-12 15:37] #35 closed

[2021-08-16 05:34] Miss-PiA commented on #40
Hello @Waltari10

Sorry for the delay in response.

We are looking into this to check how we can make it similar to the iOS counterpart. We will get back to you with an update on this.

Best Regards

[2021-08-17 08:34] NielsLindberg commented on #19
Why did you close the issue @Miss-PiA? You are still using  org.jetbrains.kotlinx:kotlinx-serialization-runtime:1.0-M1-1.4.0-rc for some reason.

[2021-08-18 08:46] NielsLindberg opened #43 "Dependency conflict prevents usage of this library if app has newer kotlin-serialization (re-opened)"
Re-opened: https://github.com/Nets-mobile-acceptance/Netaxept-Android-SDK/issues/19

Since it was closed without being solved.

[2021-08-18 08:57] Nets-in-app commented on #19
Thank you for reachinmg out.

Hope the given workaround did work for you, are you still facing issues while integrating?

Yes we should keep this issue in opened state and we will be coming up with the solution for this in future releases.

BR

[2021-08-18 09:01] Nets-in-app commented on #43
Thank you for reaching out and re-opening the issue.

We will be coming up with the solution for this ticket in future release.

Hope the workaround provided in the previous ticket works for you, please let us know if you still face any issues even after the work around.

Here is the link to the workaround
https://github.com/Nets-mobile-acceptance/Netaxept-Android-SDK/issues/19#issuecomment-805702

[2021-08-18 10:25] NielsLindberg commented on #43
Ignoring your dependencies is a workaround that becomes more and more risky the longer you refuse to update your dependencies as there probably will be breaking changes between ppl keeping up to date with kotlinx-serialization and ppl who stay on an old RC version in an old namespace... Why not just update it?

[2021-09-03 15:25] JBBx2016 commented on #29
Are you sure it is not caused by race condition from following line?:
https://github.com/Nets-mobile-acceptance/Netaxept-Android-SDK/blob/3bf98a9fdad44a8bda758f96ad9f1541cb8332ef/Flutter/PiaSampleFlutter/android/app/src/main/java/flutter/sample/pia/nets/eu/flutter_app/MainActivity.java#L278

If Flutter is not supported - then you probably should not advertise compatibility.

[2021-09-08 11:23] BuildManager-Nets commented on #29
Hi  PhanNhatBaoTrung,

Thank you for reaching out

Could you please confirm if you are using our latest version for trying out the Flutter sample app?

The Sample app for flutter on our Github was just to give a hint of how to integrate the SDK, and could be considered as out dated, as the support for it is on hold. But we would request you to try out integration with the latest SDK version if not

[2021-09-23 10:41] mathiasemil commented on #41
@Miss-PiA Can you provide a timeline for a fix for this issue?

[2021-09-24 08:04] Miss-PiA commented on #41
Hello @mathiasemil ,

Based on our current schedule, we are planning to support Android 12 in next release and estimated release date will be at the end of October 2021.

[2021-09-27 07:02] mathiasemil commented on #43
@Miss-PiA @Nets-in-app Can you please provide a timeline for a fix for this issue?

[2021-09-27 09:14] Miss-PiA commented on #43
Hello @mathiasemil ,

This issue has been considered to be fixed in the next coming major release approximately at Q1 2022. We will share you more accurate release date once we are approaching closer to the completion of this major release.

[2021-10-05 13:16] mkovalyk opened #46 "Crash in SDK version 2.4.0 - ComponentInfo{com.nemlig/eu.nets.pia.wallets.MobilepayActivity}: java.lang.ClassCastException"
**SDK version:** 2.4.0
**Android Versions:** 100% - Android 11
**Frequency:** 23 in last 30 days

**Stacktrace**

**Steps to reproduce**
Cannot describe because it is taken from Crash reporting tool

[2021-10-05 13:19] mkovalyk opened #47 "Crash in SDK 2.4.0 - Attempt to invoke virtual method 'void android.view.View.dispatchCancelPendingInputEvents()' on a null object reference"
**SDK version**
2.4.0

**Android Versions**
57%
Android 11
29%
Android 10
7%
Android 8
7%
Android 9

**Frequency**
14 in last 30 days

**Stacktrace**

**Steps to reproduce**
Cannot describe because it is taken from Crash reporting tool

[2021-10-20 08:55] JeppeLeth commented on #41
Android 12 is now out :) Do you have an updated time estimate of when your SDK is gonna be updated?

[2021-10-25 14:17] khltrifork opened #48 "SDK 2.5.0 contains 2x android.permission.VIBRATE elements"
Snippet of SDK 2.4.0 manifest:

<uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofoc

[2022-01-26 09:56] khltrifork commented on #48
This is now again an issue in 2.6.0.

[2022-01-27 11:57] BuildManager-Nets commented on #48
Hi,

Thank you for your quick inpuits, we will be releasing a 2.6.1 version with this fix.

The estimation for this release is tommorow.

BR

[2022-02-01 06:42] BuildManager-Nets commented on #48
Hi,

Thank you for your inputs, we have rectified this issue in our latest release of version 2.6.1

Please try out the latest version and reach out if you find any issues that needs out attention.

BR

[2022-02-03 09:52] #48 closed

[2022-03-16 08:28] Miss-PiA commented on #22
@ngoclt @bopmaz @LevonVardanyan @emilfa Please try our Netxapt Android SDk v2.6.1.

[2022-03-16 09:43] acarlsen commented on #22
I have exactly the same issue in v2.6.1

[2022-03-17 13:00] Miss-PiA commented on #22
Hi @ngoclt @bopmaz @LevonVardanyan @emilfa @acarlsen ,

Thanks for reporting the issue and sharing your findings!

The warning/error can be ignored by casting the insurance to the required type ActivityResultContract<TypeVariable(I)!, TypeVariable(O)!>？. We are developing a new SDK v3.0 which will be rewritten in Kotlin only so that we will find the way to get rid of this type mismatch issue.

[2022-03-18 09:45] acarlsen commented on #22
If I in Kotlin force the cast for CardProcessActivityResultContract like this:

`CardProcessActivityResultContract() as ActivityResultContract<CardProcessActivityLauncherInput, ProcessResult<PaymentErrorType>>)`

Then I no longer get IDE compile error, but on build this error:

`Supertypes of the following classes cannot be resolved. Please make sure you have the required dependencies in the class

[2022-03-22 07:28] Miss-PiA commented on #22
Hi @acarlsen,

Thanks a lot for your quick input and valuable clarification to allow us to reproduce this issue with Kotlin project. Now, we try to identify the root cause and find the feasible resolution as quick as possible! We will keep you posted once the issue gets fixed and it will be included in the next coming release.

[2022-03-23 09:14] acarlsen commented on #22
With version 2.6.3 the CardProcessActivityResultContract can now compile when using invoke (which seems like a strange way to fix it but ok..). But alas in the result output eu.nets.pia.CardProcessError is not resolvable in Koktlin, so I am unable to parse the result... so we got one step further.

Please refer to this sample project:
https://github.com/acarlsen/netaxeptissue22

It shows a very si

[2022-03-23 14:50] Miss-PiA commented on #22
Hi @acarlsen ,

Thanks for your quick input and example project!

The dev team is looking into the new compile error your reported here. We will keep you posted once the feasible resolution is found to tackle the problem. In the short term, please kindly handle result more generically, i.e. ignoring internal details of an error and merely requesting rollback of transaction upon failure listed the

[2022-04-05 10:39] Miss-PiA commented on #22
HI @acarlsen ,

The latest SDK v2.6.4 is available to have a try which includes the permanent fix the issue reported here! Please kindly reopen the ticket if the issue is occurred from your end.

[2022-04-05 10:39] #22 closed

[2022-04-05 10:51] mkovalyk commented on #37
@Miss-PiA Still an issue for Netaxept 2.6.3

[2022-04-05 10:51] mkovalyk commented on #47
@Miss-PiA Any updates here?

[2022-04-05 13:42] Miss-PiA commented on #40
Hello @Waltari10 ,

We will redesign the SDK UI/UX in the v3 which is under development now and the look and feel will be more similar between two platforms. We will inform you once the SDK v3 is available to have a try!

[2022-04-05 13:42] #40 closed

[2022-04-05 13:44] #29 closed

[2022-04-08 08:21] Miss-PiA commented on #47
@mkovalyk  To enable MobilePay service, please check below code snippets.

[code]
Note: - ‘this’ is Context of Activity/Fragment implementing MobileWalletListener

As per above details, crash might due to activity/fragment gets finish/killed during app switch (MobilePay) and after coming back to host app, ‘this’ context is null.

Please check the activity/fragment lifecycle of the host application

[2022-04-11 06:51] Miss-PiA commented on #37
Hi @mkovalyk ,

Sorry for the late reply on your reported issue. Unfortunately, the current SDK version doesn't have built-in tablet support and it might lead to UI issues when it renders in the tablet device for variety of payment methods. However, we re-design UI/UX in the next generation of SDK v3 so as to seamlessly support larger screen and different orientations for both mobile and tablet de

[2022-04-13 08:50] Nets-in-app commented on #46
@mkovalyk Please try comment provided in #47.

[2022-05-04 13:47] AndreasReiff opened #53 "Force selection of co/branded card"
When initialising the SDK for card tokenisation(register card to use for Easy Payments) we use:

PiaSDK.startCardProcessActivity(
...
PaymentProcess.cardTokenization(
...,
setOf(CardScheme.coBrandedDankort),
...
)

But the user is never promoted to select the card. The documentation states that we should force the user to select the card used. How do we force the user to select between Dankort and

[2022-05-05 10:43] Miss-PiA commented on #53
Payment method list should have separate entry for VISA and Dankort to selected by customer.
Merchant needs to give these choices to end users.

// Exclude coBrandedDankort scheme from supported card scheme list.
            var cardPayment = PaymentProcess.CardPayment(
                withMerchant: merchantDetails,
                Set.of(CardScheme.coBrandedDankort),
                amount: amoun

[2022-05-06 11:39] AndreasReiff commented on #53
How do we include the separated VISA and Dankort in the Payment method list? Does each card have a destinct panhash from NetAxept?

PaymentProcess.CardPayment is **not** an EasyPayment is it? PaymentProcess.cardTokenPayment is (as i've understood) an EasyPayment and it is NOT possible to include Set.of(CardScheme.coBrandedDankort) in that type of payment.

[2022-05-09 10:02] Nets-in-app commented on #53
@AndreasReiff For saved card, card selection is not possible. Panhash is unique for each saved card and it is received from Netaxept.

[2022-05-09 10:03] Miss-PiA commented on #53
@AndreasReiff For saved card, card selection is not possible. Panhash is unique for each saved card and it is received from Netaxept.

[2022-05-09 20:37] AndreasReiff commented on #53
@Miss-PiA just to be totally clear.

1) If we use PaymentProcess.CardPayment with Set.of(CardScheme.coBrandedDankort) then the NetAxept SDK will promt the user to select either Dankort or VISA, right?

2) VISA/Dankort saved with PaymentProcess.cardTokenization (with setOf(CardScheme.coBrandedDankort) as parameter) will have a panhash for both the Dankort **AND** the VISA, right?

[2022-05-10 07:27] Miss-PiA commented on #53
@AndreasReiff
1. If we use PaymentProcess.CardPayment with Set.of(CardScheme.coBrandedDankort) then the NetAxept SDK will promt the user to select either Dankort or VISA, right? **No**.
	-  **The payment method list is always provided by merchant app. Our SDK will take the payment method/card payment with selected scheme choice to start corresponding payment flow. The user is preselect which schem

[2022-05-12 14:17] arberg opened #54 "ConcurrentModificationException from PiaActivity in SDK v 2.6.4 in initiate Payment"
ConcurrentModificationException from PiaActivity in SDK v 2.6.4

API=31
DeviceInfo=samsung_SMG991B_o1s_false
Brand=samsung
Device=o1s
Manufacturer=samsung
Model=SM-G991B
Product=o1sxeea

Event summary
6.7.1 (271)
12
Galaxy S21 5G
7 May 2022, 17:40:25

[code]

The error occurred durring an initiated of a payment using a saved card.

MerchantInfo{id=731456, test=false, cvc=false} and orderInfo: Orde

[2022-05-14 06:16] arberg opened #55 "Public method which should have been internal"
SDK: 2.6.4

I noticed this public method, as it pops up as auto-complete choice in AndroidStudio

[code]

Could you make that an internal method? Probably also best to check if you have other similar stuff that shouldn't have been public.

[2022-05-16 05:39] Miss-PiA commented on #54
@arberg Could you please let us know, how we can reproduce the issues or PiASDK integration steps to be followed.

[2022-05-16 07:33] Miss-PiA commented on #55
@arberg This issue will be solved in the next major release. We will keep you posted once the release is available.

[2022-05-23 09:51] Vasant-Patel opened #57 "net::ERR_CONNECTION_REFUSED seen on Android for card payment & saving card"
Hi,

Some of our customer are seeing the issue on Android when paying with card or saving a card and performing SCA flow. It seems once they authorize the redirection fails with net::ERR_CONNECTION_REFUSED on SDK side

We are using localhost as our host for redirectUrl and while it works for most users we are seeing some complains from Android users where final redirection seems to fail with ERR_C

[2022-05-24 07:29] Miss-PiA commented on #57
Hi @Vasant-Patel
Please provide the following details so that we have a better understanding of the issue

- Version of SDK
- Steps to reproduce issue the issue

[2022-06-13 08:11] Miss-PiA commented on #57
Hi @Vasant-Patel are you still facing this issue or it has been resolved on your end?
If it is resolved, is it safe to close this issue?

[2022-06-22 09:17] Vasant-Patel commented on #57
Hi, Apologies for late reply

Its difficult to reproduce this issue but the issue has been seen with Android SDK version 2.2.0

[2022-06-27 04:53] BuildManager-Nets commented on #57
Hi
It seems like you are trying to access “localhost” which is usually device’s local server but “localhost” is not recognizable by WebView that’s why you are getting that error.
Request you to please try the valid URL

[2022-07-21 05:40] Miss-PiA commented on #57
Hi

Is the issue resolved at your end? And is it okay to close this issue?

[2022-07-28 09:35] lilemma opened #59 "android.util.AndroidRuntimeException: requestFeature() must be called before adding content"
After updating to newest stable versions I get this crash when opening PiaActivity.

**Pia version:** eu.nets.pia:pia-sdk:2.6.4

[code]
**Versions before (working):**
Kotlin 1.6.21
Compose 1.2.0-beta01
com.google.android.material:material:1.6.0-beta01
androidx.navigation:navigation-compose:2.5.0-rc01
targetSdk 31

**Versions now (not working):**
Kotlin 1.7.0
Compose 1.2.0
com.google.android.materi

[2022-08-02 09:14] Miss-PiA commented on #59
Hi,

We have started investigating this issue and it will be resolved in the next release.

Thanks
Miss-Pia

[2022-08-04 07:58] Miss-PiA commented on #57
Closing this issue because of no activity in a long time. Please feel free to reopen the issue, if you face problem regarding the same issue.

[2022-08-04 07:58] #57 closed

[2022-08-10 07:34] kalina559 opened #60 "SDK always triggers an AUTH operation"
Hi, I'm trying to use a card registration flow in my app developed in Kotlin. My backend is creating a VERIFY operation like this:

https://epayment.nets.eu/Netaxept/Register.aspx?token=...&serviceType=M&orderNumber=...&currencyCode=DKK&updateStoredPaymentInfo=true&autoAuth=false(tried both)&customerNumber=...&recurringType=S&redirectUrl=http%3A%2F%2Flocalhost%2Fdummy.htm(dummy url)&force3DSecure=

[2022-08-16 12:41] Miss-PiA commented on #60
Hi

Please refer this code snippet for registering a card
https://github.com/Nets-mobile-acceptance/Netaxept-Android-SDK/blob/master/PiaSample/app/src/main/java/eu/nets/pia/sample/ui/activity/LoginActivity.java#L459

Alsorefer this documentation of card registration flow
https://htmlpreview.github.io/?https://github.com/Nets-mobile-acceptance/Netaxept-Android-SDK/blob/master/documentation/START%20

[2022-08-16 15:17] kalina559 commented on #60
Hey, thanks for responding. I'm not sure what I should change though - I see the setStoreCard() method implemented in PaymentRegisterRequest and I suspect that 'storeCard' field is used by backend when creating the Register call. However, in our backend we just use always use force3DSecure=true&amount=0&operation=VERIFY&updateStoredPaymentInfo=true when user calls the 'add payment method endpoint'

[2022-08-17 06:23] mbelchuke opened #61 "Activity missing exported tag to work on Android 12"
We can't seem to override the AndroidManifest.xml in Xamarin, to force the export tag to be added.

Is this something you are able to fix in the next release?

[code]

Xamarin Forms 5.0.0.2515
Android Target Framework Android 12.0

[2022-08-17 08:11] Miss-PiA commented on #60
Hi Kalina,

Please follow `save card` flow as below -

1. Please check backend tips for proper register call, https://htmlpreview.github.io/?https://github.com/Nets-mobile-acceptance/Netaxept-Android-SDK/blob/master/documentation/START%20-%20Overview%20of%20Netaxept%20Android%20SDK.html#Backend_Tips
2. Provide `transactionId` and `redirectUrl` to SDK.
3. You will see AUTH screen, please authentica

[2022-08-18 12:18] kalina559 commented on #60
Hi, thanks for your help. I've made it work eventually, but in a slightly different way. Turned out that part of the problem was that in our backend we only saved the panHash when after the Query.aspx call the Summary.Authorized field was set to TRUE. Now we also do it if panHash != null.

I just added force3DSecure=true, amount=0 and operation=VERIFY to the Register call. It also turned out the a

[2022-08-18 13:50] Miss-PiA commented on #60
Glad to know that your issue has been resolved. Is it okay to close this issue now?

Thanks

[2022-08-18 13:56] Miss-PiA commented on #61
Hi @mbelchuke

In v2.6.4 there seems to be `exported` tag in all of the activities mentioned in the log. Which version of the SDK are you using and did you try with v2.6.4?

Even if some `exported` tags are missing you can try the node markers to modify merged manifest for now.
https://developer.android.com/studio/build/manage-manifests#node_markers

Please let us know if this helps.

Thanks

[2022-08-19 10:04] mbelchuke commented on #61
Hi. We are using 2.6.4

![image](https://user-images.githubusercontent.com/2226939/185571761-92310897-fd0b-404a-a7c2-c133fd7d0ea9.png)

But it still seems to create the manifest file without `exported` tag.

We've tried the merge node, but it doesn't seem to be working.

[2022-08-19 10:11] mbelchuke commented on #61
This is the manifest file created by version 2.6.4

<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.nets.pia"
    android:versionCode="160"
    android:versionName="2.4.0" >

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="30" />

    <queries>
        <package android:name="fi.danskebank

[2022-08-19 10:33] mbelchuke commented on #61
Okay. Seems that you have some issues regarding your nuget package.
If we uninstall the package and reference the DLL directly, it seems to be building and merging the manifest correctly with exported tag applied.

Though, there seems to be another conflict when doing this.
It seems that the new DLL is missing these to methods:

`public unsafe static ActivityResultContract CardPaymentActivityContr

[2022-08-25 07:49] #60 closed

[2022-08-26 15:05] phoenixria opened #62 "Error loading request: mobilepayonline-test://online?paymentid=`UUID`"
SDK: 2.6.3, 2.6.4

Sandbox App: 5.20.0

Steps to reproduce:
1. Register a payment on the server and get the transaction id.
2. Call 'callbackWithWalletURL.successWithWalletURL(uri)'
3. Get an error.

Error: Error loading request: mobilepayonline-test://online?paymentid=b00624d7-802b-420f-83cc-ef8a310c875e
Inside data object - "net::ERR_UNKNOWN_URL_SCHEME"
See the screenshot for details.

![Screens

[2022-09-06 10:25] cf256 opened #63 "FragmentStrictMode violations in SDK"
When using  [FragmentStrictMode](https://developer.android.com/reference/androidx/fragment/app/strictmode/FragmentStrictMode) there are multiple warnings when using the SDK. Example when adding a payment card. This is not critical, but it would be nice if it was fixed in a future release.

This can easily be reproduced by adding the following to your  onCreate in the Application class:
[code]

[2022-09-15 11:34] Miss-PiA commented on #61
Hi @mbelchuke

Sorry for the late reply.

Try to modify your `AndroidManifest.xml` as follows

Add `xmlns:tools="http://schemas.android.com/tools"` attribute for `<manifest>` element as shown below
[code]

And then add below lines between `<application>` and `</application>` element
[code]

Please let us know if this helps.

Thanks

[2022-09-21 09:28] Miss-PiA commented on #63
Hi

We will be fixing this in the next release

Thanks

[2022-09-29 06:57] lilemma commented on #62
We are experiencing the same problem.

![Screenshot 2022-09-29 at 08 48 59](https://user-images.githubusercontent.com/36534776/192959513-a1fec457-a7a8-46f9-8a2e-38bce871e5ff.png)

This issue has been around for a month now, with no details on when it will be fixed @Miss-PiA ?
Please respect that we need another answer than the standard "it will be fixed in the next release.", It is critical that w

[2022-10-06 07:18] Miss-PiA commented on #61
Closing this issue as solved, feel free to reopen the issue if required

[2022-10-06 07:18] #61 closed

[2022-10-07 09:16] Miss-PiA commented on #62
Hi @phoenixria , @lilemma ,

Thank you for finding this issue for us.

After investigation, the MobilePay universal link is not working for our SDK. So we have to add new `mobilepayonline-test` scheme support to the app switch logic.

You will receive this feature change in our next release.

[2022-11-10 07:50] sbo-nemlig opened #65 "MobilePay failed missing mixpanel js file"
We have gotten reports from production that mobilePay fail in your SDK do to a missing Js file (see screenshot).
Could we please ask that your tracking software(mixpanel) does not block our user from doing payment, when  mixpanel is down ?

<img width="749" alt="Skærmbillede 2022-11-10 kl  08 46 36" src="https://user-images.githubusercontent.com/71696542/201030473-b09b7e9d-e518-4b0f-ba0c-373b922c4

[2022-11-10 09:18] cf256 opened #66 "Card scanning doesn't work for new cards without raised card numbers"
Most new credit cards in Norway don't have raised/embossed numbers on the card. The card scanning library doesn't seem to be able to scan these at all in my experience. Is this a known issue?

[2022-11-10 11:31] Miss-PiA commented on #65
Our SDK is not using Mixpanel to perform a business analytics service and it must be from MobilePay themselves.
We will connect with MobilePay Developer Support on this.

[2022-11-10 12:09] sbo-nemlig commented on #65
Thx

[2022-11-10 12:44] Miss-PiA commented on #65
Hi @sbo-nemlig ,

Could we have your email so that we could involve you into the conversation with Mobilepay support email? We need more information to know step by step how the issue gets happened which is also important for getting support from MobilePay as well.

-Miss PiA

[2022-11-10 12:52] sbo-nemlig commented on #65
It works now but it was happening last night at 22:54 DK time.

you can add my mail sbo@nemlig.com

[2022-11-11 06:57] Miss-PiA commented on #66
Hi

We are internally using card.io to scan card details and the library itself has limitations

- [https://github.com/card-io/card.io-Android-SDK/issues/161](https://github.com/card-io/card.io-Android-SDK/issues/161)
- [https://github.com/card-io/card.io-Android-SDK/issues/70](https://github.com/card-io/card.io-Android-SDK/issues/70)

[2022-11-11 06:57] #66 closed

[2022-11-11 07:16] cf256 commented on #66
I understand. Would it be possible to either:
-  update to another card scanning library that works better?
-  or add the ability for us to use an SDK without the card.io library included? This would reduce the size of the library quite a bit, and the resulting .apk size.

Thanks

[2022-11-11 08:18] Miss-PiA commented on #66
Hi @cf256 ,

To scan non-embossed card is quite challenging with all available open-sourced/freemium scanner libraries in the market during our research and please kindly let us know if you have/know any good alternative for us to take it in.

In the next generations of SDK, we will check if we could provide non-scanner version of SDK if you don't want to use it at all.

Thanks for your kind feedb